# Component
snippet component.json
	{
	  "name": "${1:component_name}",
	  "dependencies": {},
	  "scripts": [
		  "index.js"
	  ],
	  "styles":[],
	  "locals": []
	}

snippet comp
	"${1:author}/${2:name}": "*",
